.profile__edit-button{
    min-width: 18px;
    min-height: 18px;
    background-color: black;
    background-image: url(../../../images/Edit__Button.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    align-self: center;
}