.profile__edit-button{
    min-width: 18px;
    min-height: 18px;
    background-color: black;
    background-image: url(../../../images/Edit__Button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    align-self: center;
}

@media screen and (min-width: 900px){
    .profile__edit-button{
        min-width: 24px;
        min-height: 24px;
    }
}