.popup__input{
    min-width: 238px;
    min-height: 27px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-self: center;
}

.popup__input:last-child{
    margin-bottom: 0;
}

.popup__input:invalid:not(:placeholder-shown){
    border-bottom: 1px solid red;
}

.popup__input:focus{
    outline: none;
}

@media screen and (min-width: 900px){
    .popup__input{
        min-width: 358px;
    }
}
