.popup__container{
    min-width: 282px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media screen and (min-width: 564px) {
    .popup__container{
        min-width: 430px;
    }
}

