.header__logo{
    max-width: 104px;
    margin-left: 27px;
    padding-bottom: 31.6px;
}

@media screen and (min-width: 900px){
    .header__logo{
        max-width: 142px;
        margin-left: 0;
        padding-bottom: 41px;
    }
}