.profile__title {
  text-align: center;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  max-width: 336px;
}

@media screen and (min-width: 900px) {
  .profile__title {
    text-align: left;
    padding-left: 30px;
    font-size: 42px;
    line-height: 48px;
  }
}
