.profile__add-button{
    background-color: black;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-size: 5.5%;
    min-width: 282px;
    height: 50px;
    background-position: center;
    border: 2px solid white;
    border-radius: 2px;
    margin-top: 36px;
    cursor: pointer;
}

@media screen and (min-width: 564px){
    .profile__add-button{
        min-width: 100px;
        justify-self: right;
        background-size: 14.6%;
    }
}

@media screen and (min-width: 900px){
    .profile__add-button{
        min-width: 150px;
        justify-self: right;
    }
}


