.popup__close{
    background-image: url(../../../images/Close__Icon.svg);
    width: 26px;
    height: 26px;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    background-position: center;
    align-self: flex-end;
    margin: 0;
    cursor: pointer;
}