.cards__like-button{
    cursor: pointer;
    align-self: center;
    background-image: url(../../../images/Group.svg);
    width: 20.8px;
    height: 18.2px;
    border: none;
    background-color: white;
    margin: 26px 0 35px;
}