.popup__save-button {
  align-self: center;
  min-width: 238px;
  min-height: 46px;
  background-color: black;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
}

@media screen and (min-width: 900px) {
  .popup__save-button {
    min-width: 358px;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 36px 37px 36px;
  }
}
