.profile__info{
    margin-top: 26px;
    width: 100%;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}  

@media screen and (min-width: 940px){
    .profile__info{
    justify-content: flex-start;
}
}