.cards__element{
    background-color:#ffff;
    border-radius: 10px;
    max-width: 282px;
    max-height: 361px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
