.popup__title {
  margin-top: 25px;
  min-width: 238px;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 75px;
}
